.formDiv {
    margin-top: 20vh;
    width: 100%;
    /* background: red; */
}

.formDiv form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.formDiv form input:first-child {
    padding: 10px 20px;
    width: 20%;
    /* margin-right: 20px; */
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    transition: width 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    font-size: 1rem;

}

.formDiv form input:first-child:focus {
    width: 30%;
}

.formDiv form button {
    margin-left: 5px;
    border-radius: 5px;
    background: #00ffb3;
    border: none;
    padding: 10px 20px;
    transition: opacity 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
    box-sizing: border-box;
}

.formDiv form button:hover {
    opacity: 0.6;
}

.searchBar {
    font-size: 20px;

}